*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    background: #f4f4f4;
}

header {
    background: black;
    padding: 1rem 0;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
}

.navbar {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
}

.nav-link {
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 20px;
    padding-left: 40rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1  {
    font-size: 2rem;
}
.nav-link a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    background: url('https://png.pngtree.com/background/20230425/original/pngtree-the-new-bmw-i8-sports-car-is-featured-in-the-parking-picture-image_2476133.jpg') no-repeat center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.hero h1 {
    font-size: 3rem;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    background: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}